<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
    <h1>Datos del Desarrollador</h1>
    <p>ID: <%= developer.id %></p>
    <p>Nombre: <%= developer.Nombre %></p>
    <p>Tefefono: <%= developer.telefono %></p>
    <!-- Agrega aquí los demás campos que necesites mostrar -->
    <a href="/index.html">Volver al Inicio</a>
</body>
<%- include('partials/footer') %>
